<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-camera-simple" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CordovaCameraSimple</name>
    <js-module src="www/CordovaCameraSimple.js" name="CordovaCameraSimple">
        <clobbers target="CordovaCameraSimple" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaCameraSimple">
                <param name="android-package" value="com.example.cordova.camera.CordovaCameraSimple" />
            </feature>
        </config-file>
        <source-file src="src/android/CordovaCameraSimple.java" target-dir="com/example/cordova/camera" />
        <!-- Add Picasso library dependency -->
        <framework src="com.squareup.picasso:picasso:2.71828" />
    </platform>
</plugin>

